h1{
    color:yellow;
    border:15px rgb(0, 255, 42) solid;

}
p{
    color:red;
    text-align: center;
    font-size:300%;
}
ul{
    list-style-type:none;
    display:flex;
}
li{
    padding: 20px;
}
div a:link{
    color:rgb(188, 143, 154);
    font-size: 35px;
    text-decoration: none;
}
div a:visited{
    color:rgb(255, 0, 149);
}
div{
    background:rgb(128, 0, 0);
}
div a:hover{
    background-color: black;
    color: white;
}
html{
    background-color: rgb(95, 136, 182);
}

